<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        
        <!--begin::Container-->
        <div class="container">

            <!-- begin::Card-->
            <div class="card card-custom overflow-hidden">
                <div class="card-body p-0">
                  <!--end::Header-->
					<!--begin::Content-->
					
								
										<!-- begin: Invoice-->
										<!-- begin: Invoice header-->
										<div class="row justify-content-center bgi-size-cover bgi-no-repeat py-8 px-8 py-md-27 px-md-0" style="background-image: url(assets/media/misc/bg-3.jpg);">
											<div class="col-md-9">
												<div class="d-flex justify-content-between pb-10 pb-md-20 flex-column flex-md-row">
                                                    <h1 class="display-4 font-weight-boldest mb-10 opacity-80 text-white">Sale Order <span id="orderid"> </span> 
                                                        <p class="display-4 font-weight-boldest   text-danger" id="tranid"> <%= salesOrderData[0].tranid %></p>
                                                    </h1>
													<div class="d-flex flex-column align-items-md-end px-0">
													
													</div>
												</div>
												<div class="border-bottom w-100 opacity-20"></div>
												<div class="d-flex justify-content-between text-white pt-6">
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolde mb-2r">Date</span>
														<span class="opacity-70" id="trandate"><%= salesOrderData[0].trandate %></span>
													</div>
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolder mb-2">Location</span>
														<span class="opacity-70"><select id="customerlocation" class="form-control customerlocationdropdown0" name="option" style="width:60%;"> <option value="<%= salesOrderData[0].customer%>" selected><%= salesOrderData[0].location%></option> </select></span>
													</div>
													<div class="d-flex flex-column flex-root">
														<span class="font-weight-bolder mb-2">Customer</span>
														<span class="opacity-70" > <select id="customerdropdown" class="form-control customerdropdown0" name="option" style="width:82%;"> <option value="<%= salesOrderData[0].customer%>" selected><%= salesOrderData[0].customer%></option> </select> </span>
													</div>
												</div>
											</div>
										</div>
										<!-- end: Invoice header-->
										<!-- begin: Invoice body-->
                    
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        
                        <div class="col-md-10">
                           
                                <form method="POST" id="tableform">
                            <div class="table-responsive">
                               
                                <td style="display:none;"><input id="totalrows" class="form-control" value="0" name="totalrows" style="display:none;"></td>
                                <table class="table item-detail-table" id="table-main">
                                    <thead style="text-align: center;">
                                        <tr >
                                            
                                            <th class=" pl-0 font-weight-bold text-muted text-uppercase">Product</th>
                                            <th class=" pl-0 font-weight-bold text-muted text-uppercase">Inventory Detail</th>
                                            <th class=" font-weight-bold text-muted text-uppercase"> Qty</th>
                                            <th class=" font-weight-bold text-muted text-uppercase">Rate</th>
                                            <th class=" pr-0 font-weight-bold text-muted text-uppercase">Amount</th>
                                            <th class=" pr-0 font-weight-bold text-muted text-uppercase">Add Rows</th>
                    
                    
                                        </tr>
                                    </thead>
                                    
                                    <tbody class="table-tbody">

                                        <% var i=1; var len=itemdata.length; itemdata.forEach((el)=>{  %>
                                            <tr>
                                                <td id="<%= i %>"> <select id="itemdropdown<%= i %>" class="form-control itemdropdown" name="option0" style="width: 100%; text-align: center;" > <option value="'+itemData[i].name+'"><%= el.name %></option> </select></td>
                                                <td style="text-align: center;">  <button id="inventorydetail0" type="button" class="btn btn-light-danger font-weight-bold inventorydetail" data-toggle="modal" data-target="#inventorydetailmodel"><i class="fas fa-boxes"></i></button></td>
                                                <td ><input  id="qty<%= i %>" type="number" class="form-control qty" name="qty0" value="<%= el.qty %>" style="text-align: center;"></td>
                                                <td ><input id="rate<%= i %>" type="text" class="form-control rate" name="rate0" value="<%= el.rate %>" style="text-align: center;"></td>
                                                <td > <input type="text" id="amount<%= i %>" class="form-control amount" name="amount0" value="<%= el.amount %>" style="text-align: center;"></td>
                                                <%if (len == i) { %>
                                                    <td style="text-align: center;">   <button id="addformtablerows0" type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button>   <button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td>
                                                    <!-- <td style="text-align: center;">   <button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td> -->
                                                    <% } %>
                                                <%if (len != i) { %>
                                                    <td style="text-align: center;">   <button id="addformtablerows0" type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button> <button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button>  </td>
                                                    <!-- <td style="text-align: center;">   <button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td> -->
                                                <% } %>   
                                            </tr>
                                            <% i++;   }) %>

                                            <!-- <tr>
                                                 <td>1</td>
                                                 <td> <select id="itemdropdown" class="form-control itemdropdown" name="option0"> </select>
                                                        
                                                 </td>
                                                <td><input  id="qty0" type="text" class="form-control qty" name="qty0"></td>
                                                <td><input type="text" class="form-control " name="availableqty"></td>
                                                <td><input id="rate0" type="text" class="form-control rate" name="rate0"></td>
                                                <td><input type="text" id="amount0" class="form-control amount" name="amount0"></td>
                                                <td><button id="addformtablerows" type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button> </tr>
                                                
                                            </tr> -->
                                    
  
                                          </tbody>

                                </table>
                                
                            </div>
                            <button type="submit" class="btn btn-primary" name="save" value="billdata" ><i class="flaticon2-send-1"></i> Save</button>
                                    
                </form>
          
                        </div>
                        
                    </div>
                    
                    <!-- end: Invoice body-->
                    <!-- begin: Invoice footer-->
                    <div class="row justify-content-center bg-gray-100 py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table " id="formtable">
                                    <thead>
                                        <tr>
                                            
                                            <th class="font-weight-bold text-muted text-uppercase">Total  Qty</th>
                                            <th class="font-weight-bold text-muted text-uppercase">Total  Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr class="font-weight-bolder">
                                            <td id="totalqty" class="text-danger font-size-h3 font-weight-boldest" ><%= salesOrderData[0].amount %></td>
                                            <td id="totalamount" class="text-danger font-size-h3 font-weight-boldest" ><%= salesOrderData[0].quantity %></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice footer-->
                    <!-- begin: Invoice action-->
                    <div class="row justify-content-center py-8 px-8 py-md-10 px-md-0">
                        <div class="col-md-9">
                            <div class="d-flex justify-content-between">

                                
                                <!-- <button type="submit" class="btn btn-light-success font-weight-bold headerapprove" >Accept</button>-->
                                  
                                <!-- <button type="button" class="btn btn-light-primary font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button> -->
                                <button style="float:right;" type="button" class="btn btn-primary font-weight-bold" onclick="window.print();"  ><i class="flaticon2-file-1" ></i> Print Invoice</button>
                               <!-- <button type="button" class="btn btn-hover-bg-dark btn-text-dark btn-hover-text-white border-0 font-weight-bold" onclick="window.open('${ds.attachfile}', 'test', 'width=600, height=400');">Attach Files</button>-->

                            </div>
                        </div>
                    </div>
                    <!-- end: Invoice action-->
                    <!-- end: Invoice-->
                </div>
            </div>
            <!-- end::Card-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
</div>
<!--end::Content-->


<!-- Modal -->
<div class="modal fade" id="inventorydetailmodel" role="dialog">
    <div class="modal-dialog">
    
    <!-- Modal content-->
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title">Inventory Detail</h5>
    
    
    </div>
    <div class="modal-body">
    
            <table class="table modeltable" id="">
            <thead>
            <tr>
            
                <th scope="col">Location</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody class="modeltable-body">
            
            </tbody>
    
            </table>
    
    </div>
    
    <div class="modal-footer">
    
    </div>
    </div>
    
    </div>
    </div>
    <!-- END  Modal -->
<NLFORM>
<form method="POST" id="approveform">
<div id="approvepost" style="display: none;">
</div>
</form>
</NLFORM>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="assets/js/pages/features/forms/validation/form-widgets.js"></script>

<script>
var totalqty=0
var totalAmount=0
var button = document.getElementById("addformtablerows");
var dataArray=[];
var itemdropdown=''
var masterData=''
var lines=1
// button.addEventListener( "click" , function(){
// var options = document.getElementsByClassName('qty');
// alert("qty-"+options[0].value)
// var calc = 0;
// var totalPrice = 0;    
//  for (i = 0; i < options.length; i++) {
 
//     calc = calc + parseInt( options[i].value );
// }
// totalqty=calc + totalPrice;
// });
$(function () {
counttd=0
sno=2
$('#table-main .table-tbody tr').click(function () {
        var tr_id = $(this).attr('id'); 
       // alert(tr_id );
    });
$('#table-main .table-tbody').on('click','.addformtablerows',function(){
              var value = this.value;
             var $cell = $(this).parent();
             var $row = $cell.parent();
             if($("#qty"+parseInt($row.index()+1)).val()=="")
             {
                 
                Swal.fire({  icon: 'warning',  title: 'Please Enter Quantity'  })

                return
             }
             if($("#qty"+parseInt($row.index()+1)).val()=="0" || $("#qty"+parseInt($row.index()+1)).val()<0)
             {
                 
                Swal.fire({  icon: 'warning',  title: 'Quantity must be greater then 0'  })

                return
             }
             lines = $('#table-main tr').length;
            
            $(this).parent($('#table-main tbody #amount'+$row.index()+'').val($("#rate"+$row.index()).val() * $("#qty"+$row.index()).val()))
qty=0
    td='<tr>'
  //  td+='<td>'+sno+'</td>' 
    td+="<td><select id='itemdropdown"+$('#table-main tr').length+"' class='form-control itemdropdown' name='option"+lines+"' style='width: 100%;'>"+itemdropdown+" </select>"
    td+=  '</td>'  
    td+='<td style="text-align: center;">  <button id="inventorydetail'+lines+'" type="button" class="btn btn-light-danger font-weight-bold inventorydetail" data-toggle="modal" data-target="#inventorydetailmodel"><i class="fas fa-boxes"></i></button>'  
    td+='<td><input id="qty'+lines+'" type="number" class="form-control qty" name="qty'+lines+'" ></td>'  
    td+=' <td><input id="rate'+lines+'" type="text" class="form-control rate" name="rate'+lines+'" ></td>'  
    td+= '<td><input id="amount'+lines+'" type="text" class="form-control amount" name="amount'+lines+'" ></td>'                                              
    td+='<td style="text-align: center;"><button type="button" class="btn btn-light-primary font-weight-bold addformtablerows">+</button> <button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td>'
    //td+='<td><button id="addformtablerows" type="button" class="btn btn-light-danger font-weight-bold delrow">-</button></td> '
    td+=  '</tr>'                                                              
                                           
// $('#table-main tbody').find('.addformtablerows').each(function(){
//     $(this).append(td);
// })
$.fn.eachFunction();
// $('#table-main tbody').append(td)
// var tr = $(this).prev('modeltable').find('tr:last');
// tr.clone(true).insertAfter(tr);
sno++
counttd++
lines++
$('#totalrows').val(counttd);
});
$.fn.eachFunction=function(){
$('#table-main').find('.table-tbody').each(function(){
        //Retrieves the text within <td>
     $(this).append(td);
})
$('#itemdropdown'+parseInt(lines)).select2({
            placeholder: "Select Item"});
$('#table-main').find('.table-tbody .qty').each(function(){
if ($(this).val() != "") {totalqty+=parseInt($(this).val());}      
})
$('#table-main').find('.table-tbody .amount').each(function(){
if ($(this).val() != "") {totalAmount+=parseInt($(this).val());}      
})
$('#totalqty').empty().append();
$("#totalqty").append(totalqty);
totalqty=0
$('#totalamount').empty().append();
$("#totalamount").append(totalAmount);
totalAmount=0
}
///////////////
$('#table-main .table-tbody').on('click','.delrow',function(){       //delete buttons
    $(this).parents('tr').remove();
    counttd--
    $('#totalrows').text(counttd);
    sno--
    lines--
   // var results = $('#table-main .table-tbody').parent().siblings(":first").text()
  //  alert("TR ID " + results);
  var $results = $("td:first-child");
  var tableLines=1
 $results.each(function(index, result){
  // result is the DOM element we're looping over
  $("#itemdropdown"+result.textContent).prop('id', 'itemdropdown'+tableLines);
  $("#qty"+result.textContent).prop('id', 'qty'+tableLines);
  $("#rate"+result.textContent).prop('id', 'rate'+tableLines);
  $("#amount"+result.textContent).prop('id', 'amount'+tableLines);
  tableLines++
 
});
// Or, you can access a specific element by index:
console.log($results[0].textContent + ", " + $results[2].textContent);
    $.fn.eachFunctiondel();
});
$.fn.eachFunctiondel=function(){
    
        var rowCount = $('#table-main tr').length-1;
        console.log("check row after deletebutton",rowCount)
      
    $('#table-main').find('.table-tbody .qty').each(function(){
    if ($(this).val() != "") {totalqty+=parseInt($(this).val());} 
    })
    $('#table-main').find('.table-tbody .amount').each(function(){
    if ($(this).val() != "") {totalAmount+=parseInt($(this).val());}      
    })
    $('#totalqty').empty().append();
    $("#totalqty").append(totalqty);
    totalqty=0
    $('#totalamount').empty().append();
    $("#totalamount").append(totalAmount);
    totalAmount=0
}
});
$(function () {
$("#checkAll").click(function(){
$('input:checkbox').not(this).prop('checked', this.checked);
});
//
// var Nodata ="<tr><th colspan='10' style='font-weight:normal;'>No Data Available In Table</th></tr>"
// $('#table-main tbody').append(Nodata);
$("#modaldate").click(function () {
$('.modeltable .table-body').empty();
var counttd=0
var nodata='<tr colspan="7"><td>No data Selected </td></tr>'
//Loop through all checked CheckBoxes in GridView.
$("#table-main tbody input[type=checkbox]:checked").each(function () {
// var row = $(this).closest("tr")[0];
//var name = $('.txt-td').val();
linenumber=$(this).parents("tr").find(".linenumber").text();
item =$(this).parents("tr").find(".item").text();
qty =$(this).parents("tr").find(".qty").text();
rate =$(this).parents("tr").find(".rate").text();
// amount =$(this).parents("tr").find(".amount").text();
// itemid=$(this).parents("tr").find(".itemid").text();
// linenumber=$(this).parents("tr").find(".linenumber").text();
console.log("qty",qty)
td=  '<tr>'
td+= '<td style="display:none;" ><input id="modallinenumber" class="form-control" value="'+linenumber+'" name="linenumber'+counttd+'" ></td>'
td+= '<td><input id="modalitem" class="form-control " value="'+item+'" name="item'+counttd+'" ></td>'
td+= '<td><input id="modalqty" class="form-control" value="'+qty+'" name="qty'+parseInt(linenumber-1)+'" ></td>' 
td+= '<td><input id="modalqty" class="form-control" value="'+rate+'" name="rate'+counttd+'" ></td>' 
td+='<td><button type="button" class="btn btn-danger removebtntop" id="deltop">-</button></td>'
td+='</tr>' 
counttd++ 
$('.modeltable .table-body').append(td);
});
if(counttd==0)
{
$('.modeltable .table-body').append(nodata);
}
total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
$('#totalcount').append(total);
})
$(".headerapprove").click(function () 
{
var counttd=0
//Loop through all checked CheckBoxes in GridView.
$("#table-main tbody input[type=checkbox]:checked").each(function () {
// var row = $(this).closest("tr")[0];
//var name = $('.txt-td').val();
linenumber=$(this).parents("tr").find(".linenumber").text();
td='<input type="text" id="changeallitemdate" class="form-control changeallitemdate" name="lineapprove'+counttd+'" value="'+linenumber+' " >'
$('#approvepost').append(td);
counttd++
});
td='<button type="submit" class="btn btn-light-success font-weight-bold" id="btnapprove" name="save" value="approve">Approve</button>'
$('#approvepost').append(td);
total= '<input id="linenumbertop" class="form-control" value="'+counttd+'" name="linenumbertop" >' 
$('#approvepost').append(total);
console.log("check")
$("#btnapprove").click();
const form  = document.getElementById('#approveform');
// form.addEventListener('submit', (event) => {
// handle the form data
// form.submit();
// });
})
});
 //////////////................ajax.......................///////////////
   $(document).ready(function(){

    $("#tableform :input").prop("disabled", true);
       
    var url = window.location.href;
  console.log("cjsd",url)
    $.ajax({ 
            type      : 'POST', 
            url       : '/demo7/getsaleorder',
            data      : JSON.stringify(orderid), 
            contentType: "application/json; charset=utf-8",
            success   : function(data) 
                        {
                          console.log(data)
                        }
        });
 
   $.ajax(
     {
      url: "/data",
      headers: { 'Access-Control-Allow-Origin': '*' }, 
      success: function(result){
		console.log("checkdata",result.Products);
		masterData=result
        setItems(result.Products)
        setCustomers(result.Customers)
        setLocation(result.Locations)
       // result = JSON.parse(result);
        //loadGraphAPI(result[0],result[1],result[2],result[3]);
      }});
      $('form').submit(function(event) { //Trigger on form submit
        $('#name + .throw_error').empty(); //Clear the messages first
        $('#success').empty();
        //Validate fields if required using jQuery
            
             var postDataArray=[];
        var postForm = { //Fetch form data
            'tranid'       :  $('#tranid').text(),
            'trandate'     :  $('#trandate').text(),
            'customer'     :  $('#customerdropdown').find(":selected").text(),
            'amount'       :  $('#totalamount').text(),
            'quantity'     :  $('#totalqty').text(),
            'location'     :  $('#customerlocation').find(":selected").text(),
                       };
                      var liness= $('#table-main tr').length-1
             for(var i=1;i<$('#table-main tr').length;i++)
             {
                postDataArray.push(
                    {
                        'rate': $("#rate"+i).val(),'qty': $("#qty"+i).val(),
                         'amount': $("#amount"+i).val(),
                         'name': $('#itemdropdown'+i).find(":selected").text(),
                         
                    }
                    )
             }
             postForm.items=postDataArray
             console.log("checks postDataArray",postForm)
        $.ajax({ 
            type      : 'POST', //Method type
            url       : '/editsaleorder', //Your form processing file URL
            data      : JSON.stringify(postForm), //Forms name
            contentType: "application/json; charset=utf-8",
            success   : function(data) 
                        {
                            console.log("sucess")
                            Swal.fire({  icon: 'success',  title: 'Saved',  text: 'Data Saved',  footer: '<a href="/sales-orders">View all saleorder</a>'})
                            $("#trandate option[value='']").attr('selected', true)
                            $("#customer option[value='']").attr('selected', true)
                        }
        });
        Swal.fire({  icon: 'success',  title: 'Saved',  text: 'Data Saved',  footer: '<a href="/sales-orders">View all saleorder</a>'})
        event.preventDefault(); //Prevent the default submit
    });
      
});
//////////////................ajax end.......................///////////////
function setItems(itemData)
{
    itemdropdown='<option></option>'
    for(var i=0; i<itemData.length; i++)
    {
        itemdropdown+='<option value="'+itemData[i].name+'">'+itemData[i].name+'</option>'
    }
    $(".itemdropdown").append(itemdropdown); 
    
    var rowCount = $('#table-main tr').length-1;
         
            for(var i=0; i<=rowCount; i++)
            {
                $('#itemdropdown'+i).select2({
              placeholder: "Select Item"});
            }
}
function setCustomers(customerData)
{
    dropdownData=''
    for(var i=0; i<customerData.length; i++)
    {
        dropdownData+='<option value="'+customerData[i].name+'">'+customerData[i].name+'</option>'
    }
    $("#customerdropdown").append(dropdownData);  
}
function setLocation(locationData)
{
    dropdownData=''
    for(var i=0; i<locationData.length; i++)
    {
        dropdownData+='<option value="'+locationData[i].name+'">'+locationData[i].name+'</option>'
    }
    $("#customerlocation").append(dropdownData);  
}

$(document).ready(function () {
     
    });
    $(document).ready(function () {
//////////.............. Select2 itemdropdown feature
$('#itemdropdown0').select2({
  placeholder: "Select Item",
 // minimumResultsForSearch: Infinity
 });
//   $('.itemdropdown').on('change', function(){
//    // Revalidate field
//    validator.revalidateField('.itemdropdown');
//   });
   var inventorydetailarray=[]
   //Dropdownlist Selectedchange event
   $('#table-main').on('change', '.itemdropdown', function()  {
        
         //// var selectedValue = $(this).val();
        $(".qty").change(function(){
           
        //alert("The text has been changed.");
        var value = this.value;
        var $cell = $(this).parent();
        var $row = $cell.parent();
        var rowCount = $('#table-main tr').length-2;
        if($("#qty"+$row.index()).val()=="")
        {
            alert("enter qty") 
            return
        }
       
        $('#itemdropdown'+$row.index()).select2({
              placeholder: "Select Item"});
        $(this).parent($('#table-main tbody #amount'+parseInt($row.index()+1)+'').val( $("#rate"+parseInt($row.index()+1)).val() * $("#qty"+parseInt($row.index()+1)).val()))
        });
         var value = this.value;
        var $cell = $(this).parent();
        var $row = $cell.parent();
        //   alert("Selected ["+value+"] in cell ["+$cell.index()+"] of row ["+$row.index()+"]");
         // // var nextfield = row.find('.classnamefornextfield'); 
        // // $(nextfield).html(selectedVal);
        
      
        if($(this).val()!="")
        {
          // alert($(this).val())
           for(var i=0; i<masterData.Products.length; i++)
           {
               if(masterData.Products[i].name==$(this).val())
               {
                   $(this).parent($('#table-main tbody #rate'+parseInt($row.index()+1)+'').val(masterData.Products[i].rate));
               }
           }
        }
        inventorydetailarray.push({
           "row":$row.index(),
           "location":[
               {
                   "A":3,
                   "B":4,
                   "C": 6
               }
           ]
       })
       console.log("inventorydetail",inventorydetailarray)
       $('#table-main').on('click','.inventorydetail',function()
     {
      
       var value = this.value;
        var $cell2 = $(this).parent();
        var $row2 = $cell2.parent();
        let inventorydetailrow = inventorydetailarray.find(inventorydetailarray => inventorydetailarray.row === $row2.index());
        $('.modeltable .modeltable-body').empty().append()
        for(var k=0; k<inventorydetailrow.location.length; k++)
        {
           mtd=''
           for (const [key, value] of Object.entries(inventorydetailrow.location[0])) 
           {
               mtd+='<tr>'
               mtd+='<td>'+key+'</td>'
               mtd+='<td>'+value+'</td>'
               mtd+='</tr>'
           }
           
        }
        
           // console.log(inventorydetailrow.location)
           //  mtd='<tr>'
           //  mtd+='<td>'+inventorydetailrow.location[k]+'</td>'
           //  mtd+='<td>'+inventorydetailrow.location[k]+'</td>'
           //  mtd+='</tr>'
        
        $('.modeltable .modeltable-body').append(mtd);
        
     });
   })
   
});
</script>